/*html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/
html,body {
    /*I hate to use important but I can't for the life of me get rid of space on the left and right of my footer, no matter what I do*/
    margin:0 !important;
    padding:0 !important;
    /*height: 100%;*/
}
body {
    font-family: Arial, Helvetica, sans-serif;
    /*http://www.publicdomainpictures.net/view-image.php?image=42539&picture=fresh-green-leaves*/
    background: url("../images/fresh-green-leaves.jpg") white;
    padding: 0;
    /*margin-bottom: 100px;*/

}

header {
    color: rgba(0, 51, 0, 1);
    /*width: 100%;*/
    background-color: rgba(208, 225, 208, 0.9);
    /*the line below breaks the header in IE*/
    /*overflow: auto;*/
    position:fixed;
    /*I needed to up the z-index so thattext with their wouldnt go over top of my navigation text. I learned
    that there is a relationship between z-index and opacity, in which opacity
    can dictate z-index https://philipwalton.com/articles/what-no-one-told-you-about-z-index/*/
    z-index: 1;
}
.each {
    color: black;
    border: solid black 1px;
    margin-top: .5em;
    padding: .5em;
    border-radius: .5em;
}
.plants a:hover, .plants a:visited{
    color: black;
    text-decoration: none;
}
a:hover .eachPlant{
    background-color: grey;
}
.navbar-brand {
    height: 110px;
    width: auto;
}
.navbar-nav{
    padding-top: 2em;
    float: right;
}
.navbar-inner{ filter:none;}
main {
    width: 80%;
    padding: 10em 1em 1em 1em;
    overflow: auto;
    margin: 0 auto;
    background: rgba(250, 250, 250, 0.8);
    /*spacing between content and footer*/
    margin-bottom: 100px;
    border-radius: 0 0 1em 1em;
}
main a {
    color: #000080;
}
main a:hover {
    background: white;
}
main a:visited {
    color: #26004d;
}

nav {
    font-size: 1.2em;
    font-weight: bold;
    /*width: 60%;*/
    float: right;
    /*padding-top: 2em;*/
}
nav ul {
    padding: 0;
    /*padding-top: 4em;*/
    margin: 0;
    list-style-type: none;
    text-align: right;
}
nav li {
    display: inline-block;
    /*padding-right: 3em;*/
}
nav a {
    text-decoration: none;
    color: rgba(0, 51, 0, 1);
    /*padding: .5em .75em;*/
    border-radius: .5em;
}
nav a:hover {
    color: black;
    background-color: rgba(185, 198, 212, 1);
}
footer {
    color: rgba(0, 51, 0, 1);
    background: rgba(208, 225, 208, 0.9);
    text-align: center;
    padding: .5em;
    /*did not work for this site... added lines to make footer sticky http://mystrd.at/modern-clean-css-sticky-footer/*/
    /*position: absolute;*/
    /*bottom: 0;*/
    height: 60px;
    width: 100%;
}
/*sticky footer finally solved with flexbox https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/*/
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}
.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:yellow;
    z-index: 100;
}

/*screen reader only styling adapted from: http://webaim.org/techniques/css/invisiblecontent/*/
.sr-only {
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
}
.sr-only:focus {
    position:static;
    width:auto;
    height:auto;
    float: right;
    padding-right: 4em;
    color: white;
}
